<footer>
    <div class="container text-center">
      <div class="row justify-content-center">
        {% for nav-item in site.data.nav-external %}
        <div class="footer-link">
          <a class="link-primary mr-2 ml-2" href={{nav-item.link}} target="_blank">
          {{nav-item.title}}
          </a>
        </div>
        {% endfor %}
      </div>
      <div>
        &copy;
        <span id="copyright">
          <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </span>
        - Ryan Mauldin
      </div>
      <div>
        Design by <a class="link-primary" href="https://www.kelseyolivier.com/" target="_blank">Kesley Olivier</a>
      </div>
    </div>
</footer>
