<footer>
  <nav class="navbar navbar-dark navbar-expand-lg" id="footer">
    <div class="text-center">
      &copy;
      <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      </span>
      Ryan Mauldin
    </div>
    <ul class="navbar-nav ml-5">
      {% for nav-item in site.data.nav-external %}
      <li class="nav-item">
        <a class="nav-link" href={{nav-item.link}} target="_blank">
          {{nav-item.title}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</footer>
