<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="navbar-static">
    <a id="logo" class="navbar-brand" href="/">RM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-lg-auto mr-auto">
        {% for nav-item in site.data.nav-external %}
        <a class="nav-item nav-link ml-3" href={{ nav-item.link }} target="_blank">
          <div class="icon">
            {% include {{ nav-item.icon | prepend: 'icons/' }} %}
          </div>
        </a>
        {% endfor %}
      </ul>
      <ul class="navbar-nav ml-lg-auto ml-auto">
        {% for nav-item in site.data.nav-internal %}
          <a class="nav-item nav-link ml-3" href={{ nav-item.link }}
          {% assign firstletter = nav-item.link | slice: 0 %}
          {% if firstletter != "#" %}
          target="_blank"
          {% endif %}
          >{{ nav-item.title }}</a>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <div id="top-spacing"></div>
</header>
